body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #171919;
  color: $main;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.title {
  &__subname {
    display: inline-block;
    font-size: 200px;
    font-weight: 800;
    text-transform: uppercase;
    color: rgba($main, 0.02);
    position: relative;
  }
  &__name {
    font-size: 80px;
    font-weight: 800;
    color: $main;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 80px;
      height: 1px;
      background-color: $green-main;
    }
  }
}
.subtitle {
  font-size: 40px;
  line-height: 44px;
  font-weight: 800;
  text-transform: uppercase;
}
.subtitle-text {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  opacity: 0.5;
  padding: 0 0 0 103px;
  position: relative;
  display: inline-block;
  &::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: $main;
    left: 0;
    top: 50%;
  }
}
.btn {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: $main;
  span {
    display: inline-block;
    background-color: $green-main;
    position: relative;
    margin-left: 10px;
    &::before {
      content: '';
      width: 20px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      left: -10px;
      top: 50%;
    }
    &::after {
      content: '';
      width: 25px;
      height: 20px;
      background-image: url('../img/header/arrow-right.svg');
      background-repeat: no-repeat;
      position: absolute;
      right: 17px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

@media (max-width: 1024px) {
  .title {
    &__subname {
      font-size: 140px;
    }
  }
  .subtitle {
    font-size: 36px;
    line-height: 38px;
  }
  .subtitle-text {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 0 45px;
    &::before {
      content: '';
      width: 35px;
    }
  }
}

@media (max-width: 890px) {
  .btn {
    font-size: 28px;
  }
}

@media (max-width: 740px) {
  .title {
    &__subname {
      font-size: 0;
    }
    &__name {
      position: static;
    }
  }
}

@media (max-width: 570px) {
  .title {
    &__name {
      font-size: 50px;
      line-height: 60px;
      &::before {
        content: '';
        width: 50px;
      }
    }
  }
  .subtitle {
    font-size: 28px;
    line-height: 32px;
  }
  .subtitle-text {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 30px;
    &::before {
      content: '';
      width: 20px;
    }
  }
}

@media (max-height: 570px) {
  .subtitle {
    font-size: 28px;
    line-height: 32px;
  }
  .subtitle-text {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 30px;
    &::before {
      content: '';
      width: 20px;
    }
  }
}