.footer {
  text-align: center;
  padding: 0 0 34px 0;
  &__link {
    margin: 0 0 27px 0;
    span {
      padding: 14px 18px;
      &::after {
        display: none;
      }
    }
  }
  &__copy {
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    letter-spacing: 1.05px;
    text-transform: uppercase;
    opacity: 0.5;
  }
}