.shop {
  background-image: url('../img/shop/shop-bg.png');
  background-repeat: no-repeat;
  background-position: right center;
  position: relative;
  margin: 0 0 200px 0;
  &__row {
    display: flex;
    align-items: center;
  }
  &__content {
    flex-basis: 35%;
    margin: 0 0 0 130px;
  }
  &__titles {
    max-width: 480px;
    width: 100%;
  }
  &__subtitle-text {
    &_left {
      padding: 0 103px 0 0;
      &::before {
        left: auto;
        right: 0;
      }
    }
  }
  &__stars {
    margin: 20px 0 0 10px;
  }
  &__price {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0 64px 0;
    sup {
      font-size: 18px;
    }
  }
  &__body {
    flex-basis: 65%;
    display: flex;
  }
  &__surfboard {
    position: relative;
    &-row {
      &_active {
        .shop__surfboard-circle {
          &::after {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
        .shop__surfboard-text {
          display: block;
        }
      }
    }
    .row-1 {
      position: absolute;
      left: 170px;
      top: 190px;
    }
    .row-2 {
      position: absolute;
      left: 0;
      top: 50%;
    }
    .row-3 {
      position: absolute;
      left: 52px;
      bottom: 65px;
      .shop__surfboard-text {
        padding: 0 103px 0 0;
        left: auto;
        right: 40px;
        &::before {
          content: '';
          position: absolute;
          width: 80px;
          height: 1px;
          background-color: #fff;
          left: auto;
          right: 0;
          top: 50%;
        }
      }
    }
    &-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: $main;
      position: relative;
      cursor: pointer;
      &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 2px;
        background-color: $green-main;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &::after {
        content: '';
        position: absolute;
        width: 12px;
        height: 2px;
        background-color: $green-main;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
    &-text {
      display: none;
      font-size: 24px;
      line-height: 24px;
      font-weight: 800;
      text-transform: uppercase;
      width: 358px;
      padding: 0 0 0 103px;
      position: absolute;
      top: -15px;
      left: 40px;
      &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
      }
    }
  }
  &__extras {
    margin: 0 80px 0 auto;
    align-self: flex-end;
    &-row {
      display: flex;
    }
    &-item {
      text-align: center;
      &:not(:last-child) {
        margin: 0 57px 0 0;
      }
    }
    img {
      min-height: 110px;
    }
    &-title {
      font-size: 28px;
      line-height: 40px;
      font-weight: 800;
      text-transform: uppercase;
      margin: 0 0 25px 0;
    }
    &-name {
      display: block;
      font-size: 18px;
      line-height: 22px;
      color: $main;
      letter-spacing: 8px;
      text-transform: uppercase;
      opacity: 0.5;
      margin: 35px 0 16px 0;
    }
    &-price {
      font-size: 18px;
      line-height: 40px;
      font-weight: 800;
    }
  }
  .slick-arrow {
    position: absolute;
    top: 200px;
    font-size: 0;
    width: 25px;
    height: 20px;
    opacity: 0.25;
    z-index: 1100;
  }
  .slick-arrow.slick-prev{
    right: 125px;
    background: url('../img/header/arrow-left.svg') 0 0 no-repeat;
  }
  .slick-arrow.slick-next{
    right: 80px;
    background: url('../img/header/arrow-right.svg') 0 0 no-repeat;
  }
}

@media (max-width: 1160px) {
  .shop {
    &__row {
      display: block;
    }
    &__content {
      margin: 0 0 50px 30px;
    }
    &__body {
      justify-content: space-between;
      margin: 0 80px 0 30px;
    }
    &__extras {
      margin: 0;
    }
    &__surfboard {
      &-text {
        padding: 0 0 0 30px;
        &::before {
          width: 20px;
        }
      }
      .row-3 {
        .shop__surfboard-text {
          padding: 0 0 0 30px;
          left: 40px;
          right: auto;
          &::before {
            width: 20px;
            left: 0;
            right: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .shop {
    &__subtitle-text {
      &_left {
        padding: 0 45px 0 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .shop {
    margin: 0 0 80px 0;
    &__body {
      display: block;
    }
    &__surfboard {
      margin: 0 0 50px 0;
    }
  }
}

@media (max-width: 740px) {
  .shop {
    &__title {
      margin: 0 0 80px 15px;
    }
  }
}

@media (max-width: 620px) {
  .shop {
    &__surfboard {
      &-text {
        padding: 0;
        width: 230px;
        top: 25px;
        &::before {
          display: none;
        }
      }
      .row-1 {
        .shop__surfboard-text {
          left: -125px;
        }
      }
      .row-2 {
        .shop__surfboard-text {
          left: 10px;
        }
      }
      .row-3 {
        .shop__surfboard-text {
          padding: 0;
          left: 10px;
        }
      }
    }
  }
}

@media (max-width: 570px) {
  .shop {
    &__subtitle-text {
      &_left {
        padding: 0 30px 0 0;
      }
    }
  }
}

@media (max-height: 570px) {
  .shop {
    &__subtitle-text {
      &_left {
        padding: 0 30px 0 0;
      }
    }
  }
}

@media (max-width: 470px) {
  .shop {
    &__body {
      margin: 0 0 0 30px;
    }
    &__extras {
      &-row {
        display: block;
      }
      &-item {
        &:not(:last-child) {
          margin: 0;
        }
      }
    }
    .slick-arrow {
      top: 75px;
    }
    .slick-arrow.slick-prev{
      right: 75px;
    }
    .slick-arrow.slick-next{
      right: 30px;
    }
  }
}