.surf {
  padding: 160px 0;
  background-image: url('../img/surf/location-bg.png');
  background-repeat: no-repeat;
  background-position: right 200px;
  background-size: auto;
  &__title {
    transform: translateX(-40px);
  }
  &__head {
    text-align: right;
    margin: -65px 80px 0 0;
  }
  &__text {
    display: inline-block;
    text-align: right;
  }
  &__subtitle {
    span {
      font-weight: 100;
    }
  }

  // Первый слайдер
  &__map {
    max-width: 1260px;
    min-height: 650px;
    margin: 0 auto 114px auto;
    background-image: url('../img/surf/world-map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .slick-list {
      overflow: visible;
    }
    .slick-current {
      .surf__description {
        display: block;
      }
    }
    &-slide {
      position: relative;
      &_1 {
        left: 0;
        top: 350px;
        .surf__description {
          transform: translateX(0);
          &::after {
            content: '';
            left: 0;
          }
        }
      }
      &_2 {
        left: -15px;
        top: 293px;
      }
      &_3 {
        left: 40px;
        top: 330px;
      }
      &_4 {
        left: -40px;
        top: 515px;
      }
      &_5 {
        left: -70px;
        top: 215px;
      }
      &_6 { 
        left: -125px;
        top: 580px;
      }
      &_7 {
        left: -95px;
        top: 410px;
      }
      &_8 {
        left: 35px;
        top: 520px;
        .surf__description {
          transform: translateX(-90%);
          &::after {
            content: '';
            left: 90%;
          }
        }
      }
    }
  }
  &__circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $green-main;
    box-shadow: 0px 0px 35px rgba($green-main, 0.837777);
    cursor: pointer;
  }
  &__description {
    display: none;
    width: 285px;
    background: rgba(#0F1010, 0.7);
    border-radius: 6px;
    padding: 30px;
    position: absolute;
    bottom: 45px;
    transform: translateX(-47%);
    z-index: 1100;
    &::after {
      content: '';
      position: absolute;
      bottom: -30px;
      left: 47%;
      width: 0;
      height: 0;
      border-bottom: 20px solid $green-main;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__location {
    margin: 0 0 30px 0;
    &-name {
      line-height: 26px;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      padding: 0 0 5px 0;
      margin: 0 0 8px 0;
      position: relative;
      &::after {
        content: '';
        width: 80px;
        height: 1px;
        background-color: $green-main;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    &-country {
      font-size: 16px;
      line-height: 19px;
    }
  }
  &__body {
    text-align: center;
    &-name {
      font-size: 16px;
      font-weight: 800;
      margin: 8px 0;
    }
    &-text {
      font-size: 12px;
      font-weight: 300;
    }
  }

  // Второй слайдер
  &__slider {
    position: relative;
  }
  &__slide {
    position: relative;
    min-height: 750px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:nth-child(4n+1) {
      margin-top: 32px;
    }
    &:nth-child(4n+3) {
      margin-top: 90px;
    }
    &:hover {
      .surf__slide-inner {
        background-color: rgba(#1C2121, 0.3);
      }
      .surf__slide-link {
        display: block;
      }
    }
  }
  &__slide-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(#1C2121, 0.85);
    transition: all 0.8s;
  }
  &__slide-name {
    max-width: 140px;
    font-size: 40px;
    line-height: 36px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 72px 0 0 40px;
  }
  &__slide-location {
    width: 0;
    height: 0;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    left: 40px;
    bottom: 80px;
    white-space: nowrap;
    span {
      font-weight: 100;
    }
  }
  &__slide-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    span {
      padding: 17px 57px 17px 17px;
    }
  }
}

// Второй слайдер
.surf__slider {
  .slick-track{
    align-items: flex-start;
  }
  .slick-arrow {
    position: absolute;
    top: -57px;
    font-size: 0;
    width: 25px;
    height: 20px;
    opacity: 0.25;
    z-index: 1100;
  }
  .slick-arrow.slick-prev{
    right: 125px;
    background: url('../img/header/arrow-left.svg') 0 0 no-repeat;
  }
  .slick-arrow.slick-next{
    right: 80px;
    background: url('../img/header/arrow-right.svg') 0 0 no-repeat;
  }
  .slick-current {
    .surf__slide-inner {
      background-color: rgba(#1C2121, 0.3);
    }
    .surf__slide-link {
      display: block;
    }
  }
}


@media (max-width: 1366px) {
  .surf {
    padding: 100px 0;
    &__map {
      max-width: 992px;
      min-height: 525px;
      &-slide {
        &_1 {
          top: 285px;
        }
        &_2 {
          top: 235px;
        }
        &_3 {
          top: 272px;
        }
        &_4 {
          top: 420px;
        }
        &_5 {
          left: -50px;
          top: 160px;
        }
        &_6 { 
          top: 470px;
        }
        &_7 {
          left: -70px;
          top: 325px;
        }
        &_8 {
          top: 415px;
        }
      }
    }
    &__description {
      &::after {
        content: '';
        left: calc(47% + 1px);
      }
    }

    &__slide {
      min-height: 620px;
    }
  }
}

@media (max-width: 1123px) {
  .surf {
    &__description {
      &::after {
        content: '';
        left: 47%;
      }
    }
  }
}

@media (max-width: 1080px) {
  .surf {
    &__map {
      max-width: 100%;
      min-height: 250px;
      background-image: none;
      margin: 30px auto 60px auto;
      .slick-list {
        overflow: hidden;
      }
      .slick-track {
        min-height: 250px;
      }
      .slick-current {
        .surf__description {
          background-color: #3b5f61;
        }
      }
      &-slide {
        position: static;
        &_8 {
          .surf__description {
            transform: translateX(0);
          }
        }
      }
    }
    &__circle {
      display: none;
    }
    &__description {
      display: block;
      transform: translateX(0);
      &::after {
        content: '';
        display: none;
      }
    }
  }
}

@media (max-width: 890px) {
  .surf {
    &__slide {
      min-height: 450px;
      &:nth-child(4n+1) {
        margin-top: 20px;
      }
      &:nth-child(4n+3) {
        margin-top: 50px;
      }
    }
    &__slide-name {
      font-size: 36px;
      padding: 40px 0 0 25px;
    }
    &__slide-location {
      font-size: 14px;
      letter-spacing: 5px;
      left: 40px;
      bottom: 60px;
    }
    &__slide-link {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: none;
      span {
        padding: 17px 57px 17px 17px;
      }
    }
  }
}

@media (max-width: 740px) {
  .surf {
    padding: 60px 0;
    &__title {
      transform: translateX(0);
      margin: 0 0 0 15px;
    }
    &__head {
      margin: -25px 15px 0 0;
    }
  }
}

@media (max-width: 460px) {
  .surf {
    &__head {
      margin: 0 15px 0 0;
    }
    &__description {
      width: 195px;
      padding: 15px;
    }
    &__location {
      margin: 0 0 15px 0;
    }
  }
}