.travel {
  padding: 0 0 240px 0;
  background-image: url('../img/travel/travel-bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  &__text {
    margin: 0 80px 0 0;
    &_left {
      margin: 0 0 0 135px;
      padding: 175px 0 0 0;
    }
  }
  &__subtitle {
    img {
      padding: 0 0 0 25px;
    }
  }
  &__subtitle-text {
    margin: 0 0 8px 0;
  }
  &__airline {
    min-height: 377px;
    margin: -270px 0 0 0;
  }
}