.travel {
    background-image: url('../img/travel/travel-bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.section-slider {
  padding: 0 0 230px 0;
  position: relative;
  &__head {
    min-height: 780px;
    background-repeat: no-repeat;
    background-position: left top;
  }
  &__titles {
    text-align: right;
    padding: 100px 0 0 0;
    margin: 0 80px 0 0;
    &_left {
      padding: 100px 0 0 0;
      margin: -190px 0 0 130px;
      .section-slider__subtitle-text {
        padding: 0 103px 0 0;
        &::before {
          left: auto;
          right: 0;
        }
      }
      img {
        padding: 0 0 0 25px;
      }
    }
  }
  &__body {
    min-height: 300px;
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, right top;
  }
  &__info {
    display: flex;
    justify-content: space-around;
    margin: 0 0 70px 0;
    &-item {
      min-height: 200px;
      position: relative;
      p {
        display: block;
        font-size: 14px;
        line-height: 36px;
        text-align: right;
        letter-spacing: 5.25px;
        text-transform: uppercase;
        opacity: 0.75;
      }
    }
    &-name {
      font-size: 40px;
      font-weight: 800;
      text-transform: uppercase;
      position: relative;
    }
    &-subname {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 8px;
      text-transform: uppercase;
      white-space: nowrap;
      transform: rotate(-90deg);
      text-align: right;
      opacity: 0.5;
      width: 200px;
      height: 0;
      position: absolute;
      left: -140px;
      top: 97px;
    }
  }
  &__rating {
    display: flex;
    align-items: center;
  }
  &__link {
    text-align: center;
  }
  .slick-arrow {
    position: absolute;
    top: 200px;
    font-size: 0;
    width: 25px;
    height: 20px;
    opacity: 0.25;
    z-index: 1100;
  }
  .slick-arrow.slick-prev{
    right: 125px;
    background: url('../img/header/arrow-left.svg') 0 0 no-repeat;
  }
  .slick-arrow.slick-next{
    right: 80px;
    background: url('../img/header/arrow-right.svg') 0 0 no-repeat;
  }
}

.sleep {
  position: relative;
  background-image: url('../img/sleep/sleep-bg.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  .section-slider {
    padding: 0 0 80px 0;
    &__titles {
      &_left {
        padding: 140px 0 0 0;
        margin: -210px 0 0 130px;
      }
    }
    &__body {
      padding: 0 0 200px 0;
    }
  }
}

.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 43px;
  height: 42px;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 40px;
  font-weight: 800;
  color: $main;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-button.quantity-up {
  position: absolute;
  top: 45px;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  top: 45px;
  right: 25px;
}

@media (max-width: 1240px) {
  .section-slider {
    &__titles {
      &_left {
        padding: 200px 0 0 0;
        margin: -290px 0 0 130px;
      }
    }
    &__body {
      margin: 0 0 60px 0;
    }
  }
}

@media (max-width: 1100px) {
  .section-slider {
    &__titles {
      &_left {
        margin: -290px 0 0 30px;
      }
    }
    &__info {
      display: block;
      margin: 0 0 0 30px;
      &-item {
        min-height: auto;
        &:not(:last-child) {
          margin: 0 0 30px 0;
        }
        p {
          text-align-last: left;
        }
      }
      &-subname {
        position: static;
        transform: rotate(0);
        height: auto;
        text-align-last: left;
      }
    }
  }
  .sleep {
    .section-slider {
      &__titles {
        &_left {
          margin: -290px 0 0 30px;
        }
      }
      &__body {
        margin: 0;
      }
      &__info {
        margin: -100px 0 0 30px;
      }
    }
  }
  .quantity {
    height: 60px;
  }
  .quantity-button.quantity-up {
      left: 165px;
    }

    .quantity-button.quantity-down {
      left: 135px;
    }
}

@media (max-width: 1024px) {
  .section-slider {
    &__titles {
      &_left {
        .section-slider__subtitle-text {
          padding: 0 45px 0 0;
        }
      }
    }
  }
}

@media (max-width: 890px) {
  .section-slider {
    &__body {
      background-size: auto, 57%;
    }
  }
}

@media (max-width: 768px) {
  .section-slider {
    &__titles {
      margin: 0 30px 0 0;
    }
    &__head {
      min-height: 500px;
      background-size: cover;
    }
    &__body {
      background-image: none !important;
    }
    .slick-arrow.slick-prev{
      right: 75px;
    }
    .slick-arrow.slick-next{
      right: 30px;
    }
  }
  .sleep {
    .section-slider {
      &__titles {
        &_left {
          padding: 200px 0 0 0;
        }
      }
      &__body {
        padding: 0;
        margin: 0 0 60px 0;
      }
      &__info {
        margin: 0 0 0 30px;
      }
    }
  }
}

@media (max-width: 570px) {
  .section-slider {
    padding: 0 0 130px 0;
    background-position: right bottom;
    background-size: 40%;
    &__titles {
      &_left {
        .section-slider__subtitle-text {
          padding: 0 30px 0 0;
        }
      }
    }
    &__body {
      margin: 0;
    }
    &__info {
      &-name {
        font-size: 32px;
      }
      &-subname {
        font-size: 14px;
        letter-spacing: 5px;
      }
    }
    .slick-arrow {
      top: 170px;
    }
  }
  .sleep {
    .section-slider {
      &__body {
        margin: 0;
      }
    }
  }
  .quantity-button.quantity-up {
    left: 135px;
  }

  .quantity-button.quantity-down {
    left: 105px;
  }
}

@media (max-width: 420px) {
  .section-slider {
    &__titles {
      &_left {
        position: relative;
        padding: 0;
        margin: -70px 0 0 30px;
        img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &__body {
      min-height: auto;
      margin: 0 0 50px 0;
    }
    &__rating {
      display: block;
    }
    .slick-arrow {
      top: 200px;
    }
  }
  .sleep {
    .section-slider {
      &__body {
        margin: 0 0 50px 0;
      }
    }
  }
}