@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #171919;
  color: #ffffff;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.title {
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}

.title__subname {
  display: inline-block;
  font-size: 200px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.02);
  position: relative;
}

.title__name {
  font-size: 80px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
}

.title__name::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 1px;
  background-color: #4AF6CD;
}

.subtitle {
  font-size: 40px;
  line-height: 44px;
  font-weight: 800;
  text-transform: uppercase;
}

.subtitle span {
  font-weight: 100;
}

.subtitle-text {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  opacity: 0.5;
  padding: 0 0 0 103px;
  position: relative;
  display: inline-block;
}

.subtitle-text::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #ffffff;
  left: 0;
  top: 50%;
}

.btn {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.btn span {
  display: inline-block;
  background-color: #4AF6CD;
  position: relative;
  margin-left: 10px;
  padding: 17px 57px 17px 17px;
}

.btn span::before {
  content: '';
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: -10px;
  top: 50%;
}

.btn span::after {
  content: '';
  width: 25px;
  height: 20px;
  background-image: url("../img/header/arrow-right.svg");
  background-repeat: no-repeat;
  position: absolute;
  right: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.stars {
  margin: 0 0 0 25px;
}

.stars .star {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 -25px;
}

.header {
  height: 100vh;
  position: relative;
  margin: 0 0 130px 0;
}

.header__burger {
  display: none;
}

.header__slide {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header__body {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.header__title {
  font-size: 80px;
  line-height: 86px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 48px 0;
}

.header__subtitle {
  margin: 0 0 30px 0;
}

.header__subtitle-text {
  margin: 0 0 8px 0;
}

.header__slider-dots {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  z-index: 1100;
}

.header__slider-dots .slick-current .dots-body {
  border-top: 4px solid #4AF6CD;
}

.header__slider-dots .dots-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 28px;
  border-top: 4px solid #fff;
  padding: 6px 0 0 0;
}

.header__slider-dots .dots-body__number {
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
}

.header__slider-dots .dots-body__name {
  line-height: 19px;
  font-weight: 300;
}

.header__aside {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1100;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
}

.header__logo {
  margin: 0 0 40px 0;
}

.header__logo img {
  width: 100%;
}

.header__sublogo {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 200px;
  line-height: 156px;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.07;
  z-index: 1100;
}

.header__menu {
  margin: 0 0 45px 0;
}

.header__search {
  margin: 0 0 20px 0;
  cursor: pointer;
}

.header__date {
  font-size: 72px;
  line-height: 64px;
  font-weight: 800;
  margin: 0 0 15px 0;
}

.header__date span {
  display: block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  letter-spacing: 1.4px;
}

.header__location {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: 1.05px;
  padding: 0 0 0 19px;
  position: relative;
}

.header__location::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 13px;
  background-image: url("../img/header/location-icon.svg");
  left: 0;
  top: 0;
}

.header__arrows {
  position: absolute;
  left: 209px;
  bottom: 30px;
  z-index: 1100;
  cursor: pointer;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1100;
}

.map-animtaion {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  -webkit-animation: animdash 5s infinite 6s;
          animation: animdash 5s infinite 6s;
}

@-webkit-keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__slider .slick-arrow {
  position: absolute;
  top: 40px;
  font-size: 0;
  width: 25px;
  height: 20px;
  z-index: 1100;
}

.header__slider .slick-arrow.slick-prev {
  right: 125px;
  background: url("../img/header/arrow-left.svg") 0 0 no-repeat;
}

.header__slider .slick-arrow.slick-next {
  right: 80px;
  background: url("../img/header/arrow-right.svg") 0 0 no-repeat;
}

.menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu__item:hover .menu__link span {
  color: #4AF6CD;
}

.menu__link span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 6px 0 0 0;
}

.surf {
  margin: 0 0 130px 0;
  background-image: url("../img/surf/location-bg.png");
  background-repeat: no-repeat;
  background-position: right 80px;
  background-size: auto;
}

.surf__head {
  text-align: right;
  margin: -65px 80px 0 0;
}

.surf__text {
  display: inline-block;
  text-align: right;
}

.surf__map {
  max-width: 1260px;
  min-height: 650px;
  margin: 0 auto 114px auto;
  background-image: url("../img/surf/world-map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.surf__map .slick-list {
  overflow: visible;
}

.surf__map .slick-current .surf__description {
  display: block;
}

.surf__map-slide {
  position: relative;
}

.surf__map-slide_1 {
  left: 0;
  top: 350px;
}

.surf__map-slide_1 .surf__description {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.surf__map-slide_1 .surf__description::after {
  content: '';
  left: 0;
}

.surf__map-slide_2 {
  left: -15px;
  top: 293px;
}

.surf__map-slide_3 {
  left: 40px;
  top: 330px;
}

.surf__map-slide_4 {
  left: -40px;
  top: 515px;
}

.surf__map-slide_5 {
  left: -70px;
  top: 215px;
}

.surf__map-slide_6 {
  left: -125px;
  top: 580px;
}

.surf__map-slide_7 {
  left: -95px;
  top: 410px;
}

.surf__map-slide_8 {
  left: 35px;
  top: 520px;
}

.surf__map-slide_8 .surf__description {
  -webkit-transform: translateX(-90%);
      -ms-transform: translateX(-90%);
          transform: translateX(-90%);
}

.surf__map-slide_8 .surf__description::after {
  content: '';
  left: 90%;
}

.surf__circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4AF6CD;
  -webkit-box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
          box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
  cursor: pointer;
}

.surf__description {
  display: none;
  width: 285px;
  background: rgba(15, 16, 16, 0.7);
  border-radius: 6px;
  padding: 30px;
  position: absolute;
  bottom: 45px;
  -webkit-transform: translateX(-47%);
      -ms-transform: translateX(-47%);
          transform: translateX(-47%);
  z-index: 1100;
}

.surf__description::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 47%;
  width: 0;
  height: 0;
  border-bottom: 20px solid #4AF6CD;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.surf__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.surf__location {
  margin: 0 0 30px 0;
}

.surf__location-name {
  line-height: 26px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0 0 5px 0;
  margin: 0 0 8px 0;
  position: relative;
}

.surf__location-name::after {
  content: '';
  width: 80px;
  height: 1px;
  background-color: #4AF6CD;
  position: absolute;
  bottom: 0;
  left: 0;
}

.surf__location-country {
  font-size: 16px;
  line-height: 19px;
}

.surf__body {
  text-align: center;
}

.surf__body-name {
  font-size: 16px;
  font-weight: 800;
  margin: 8px 0;
}

.surf__body-text {
  font-size: 12px;
  font-weight: 300;
}

.surf__slider {
  position: relative;
}

.surf__slide {
  position: relative;
  min-height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.surf__slide:nth-child(4n+1) {
  margin-top: 32px;
}

.surf__slide:nth-child(4n+3) {
  margin-top: 90px;
}

.surf__slide:hover .surf__slide-inner {
  background-color: rgba(28, 33, 33, 0.3);
}

.surf__slide:hover .surf__slide-link {
  display: block;
}

.surf__slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 33, 33, 0.85);
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.surf__slide-name {
  max-width: 140px;
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 72px 0 0 40px;
}

.surf__slide-location {
  width: 0;
  height: 0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 40px;
  bottom: 80px;
  white-space: nowrap;
}

.surf__slide-location span {
  font-weight: 100;
}

.surf__slide-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.surf__slider .slick-track {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.surf__slider .slick-arrow {
  position: absolute;
  top: -57px;
  font-size: 0;
  width: 25px;
  height: 20px;
  opacity: 0.25;
  z-index: 1100;
}

.surf__slider .slick-arrow.slick-prev {
  right: 125px;
  background: url("../img/header/arrow-left.svg") 0 0 no-repeat;
}

.surf__slider .slick-arrow.slick-next {
  right: 80px;
  background: url("../img/header/arrow-right.svg") 0 0 no-repeat;
}

.surf__slider .slick-current .surf__slide-inner {
  background-color: rgba(28, 33, 33, 0.3);
}

.surf__slider .slick-current .surf__slide-link {
  display: block;
}

.travel {
  background-image: url("../img/travel/travel-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.section-slider {
  padding: 0 0 230px 0;
  position: relative;
}

.section-slider__head {
  min-height: 780px;
  background-repeat: no-repeat;
  background-position: left top;
}

.section-slider__titles {
  text-align: right;
  padding: 100px 0 0 0;
  margin: 0 80px 0 0;
}

.section-slider__titles_left {
  padding: 100px 0 0 0;
  margin: -190px 0 0 130px;
}

.section-slider__titles_left .section-slider__subtitle-text {
  padding: 0 103px 0 0;
}

.section-slider__titles_left .section-slider__subtitle-text::before {
  left: auto;
  right: 0;
}

.section-slider__titles_left img {
  padding: 0 0 0 25px;
}

.section-slider__body {
  min-height: 300px;
  background-repeat: no-repeat, no-repeat;
  background-position: right bottom, right top;
}

.section-slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 70px 0;
}

.section-slider__info-item {
  min-height: 200px;
  position: relative;
}

.section-slider__info-item p {
  display: block;
  font-size: 14px;
  line-height: 36px;
  text-align: right;
  letter-spacing: 5.25px;
  text-transform: uppercase;
  opacity: 0.75;
}

.section-slider__info-name {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

.section-slider__info-subname {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: right;
  opacity: 0.5;
  width: 200px;
  height: 0;
  position: absolute;
  left: -140px;
  top: 97px;
}

.section-slider__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-slider__link {
  text-align: center;
}

.section-slider .slick-arrow {
  position: absolute;
  top: 200px;
  font-size: 0;
  width: 25px;
  height: 20px;
  opacity: 0.25;
  z-index: 1100;
}

.section-slider .slick-arrow.slick-prev {
  right: 125px;
  background: url("../img/header/arrow-left.svg") 0 0 no-repeat;
}

.section-slider .slick-arrow.slick-next {
  right: 80px;
  background: url("../img/header/arrow-right.svg") 0 0 no-repeat;
}

.sleep {
  position: relative;
  background-image: url("../img/sleep/sleep-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.sleep .section-slider {
  padding: 0 0 80px 0;
}

.sleep .section-slider__titles_left {
  padding: 140px 0 0 0;
  margin: -210px 0 0 130px;
}

.sleep .section-slider__body {
  padding: 0 0 200px 0;
}

.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 43px;
  height: 42px;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity-button.quantity-up {
  position: absolute;
  top: 45px;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  top: 45px;
  right: 25px;
}

.shop {
  background-image: url("../img/shop/shop-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop__content {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin: 0 0 0 130px;
}

.shop__titles {
  max-width: 480px;
  width: 100%;
}

.shop__subtitle-text_left {
  padding: 0 103px 0 0;
}

.shop__subtitle-text_left::before {
  left: auto;
  right: 0;
}

.shop__stars {
  margin: 20px 0 0 10px;
}

.shop__price {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 64px 0;
}

.shop__price sup {
  font-size: 18px;
}

.shop__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__surfboard {
  position: relative;
}

.shop__surfboard .row-1 {
  position: absolute;
  left: 170px;
  top: 190px;
}

.shop__surfboard .row-2 {
  position: absolute;
  left: 0;
  top: 50%;
}

.shop__surfboard .row-3 {
  position: absolute;
  left: 52px;
  bottom: 65px;
}

.shop__surfboard .row-3 .shop__surfboard-text {
  padding: 0 103px 0 0;
  left: auto;
  right: 40px;
}

.shop__surfboard .row-3 .shop__surfboard-text::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  left: auto;
  right: 0;
  top: 50%;
}

.shop__surfboard-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
}

.shop__surfboard-circle::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #4AF6CD;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shop__surfboard-circle::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: #4AF6CD;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
      -ms-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.shop__surfboard-text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  width: 358px;
  padding: 0 0 0 103px;
  position: absolute;
  top: -15px;
  left: 40px;
}

.shop__surfboard-text::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  left: 0;
  top: 50%;
}

.shop__extras {
  margin: 0 0 0 167px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.shop__extras-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__extras-item {
  text-align: center;
}

.shop__extras-item:not(:last-child) {
  margin: 0 57px 0 0;
}

.shop__extras img {
  min-height: 110px;
}

.shop__extras-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.shop__extras-name {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  letter-spacing: 8px;
  text-transform: uppercase;
  opacity: 0.5;
  margin: 35px 0 16px 0;
}

.shop__extras-price {
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
}

@media (max-width: 1600px) {
  .header__sublogo {
    font-size: 110px;
    line-height: 100%;
    left: 60px;
    top: 0;
  }

  .header__logo {
    width: 110px;
    margin: 0 0 20px 0;
  }

  .header__map svg {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 1440px) {
  .header__title {
    margin: 0 0 30px 0;
  }

  .header__subtitle {
    margin: 0 0 20px 0;
  }

  .header__menu {
    margin: 0 0 25px 0;
  }

  .header__date {
    font-size: 61px;
  }

  .header__search {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 1366px) {
  .header__title {
    line-height: 60px;
  }

  .header__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-right: none;
    height: 118px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 20px 0 0;
  }

  .header__search {
    margin: 40px 0;
  }

  .header__date {
    margin: 7px 15px 0 15px;
  }

  .header__location {
    margin: 50px 0 0 0;
  }

  .header__map svg {
    width: 500px;
    height: 250px;
  }

  .header__arrows {
    left: 15px;
    bottom: 15px;
  }

  .header__slider .slick-arrow.slick-prev {
    right: 60px;
  }

  .header__slider .slick-arrow.slick-next {
    right: 25px;
  }

  .menu__item {
    display: inline-block;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 0;
  }

  .menu__link {
    display: block;
    padding: 15px;
  }

  .surf__map {
    max-width: 992px;
    min-height: 525px;
  }

  .surf__map-slide_1 {
    top: 285px;
  }

  .surf__map-slide_2 {
    top: 235px;
  }

  .surf__map-slide_3 {
    top: 272px;
  }

  .surf__map-slide_4 {
    top: 420px;
  }

  .surf__map-slide_5 {
    left: -50px;
    top: 160px;
  }

  .surf__map-slide_6 {
    top: 470px;
  }

  .surf__map-slide_7 {
    left: -70px;
    top: 325px;
  }

  .surf__map-slide_8 {
    top: 415px;
  }

  .surf__description::after {
    content: '';
    left: calc(47% + 1px);
  }

  .surf__slide {
    min-height: 620px;
  }
}

@media (max-width: 1240px) {
  .section-slider__titles_left {
    padding: 200px 0 0 0;
    margin: -290px 0 0 130px;
  }

  .section-slider__body {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 1140px) {
  .title__subname {
    font-size: 150px;
  }
}

@media (max-width: 1123px) {
  .surf__description::after {
    content: '';
    left: 47%;
  }
}

@media (max-width: 1100px) {
  .section-slider__titles_left {
    margin: -290px 0 0 30px;
  }

  .section-slider__info {
    display: block;
    margin: 0 0 0 30px;
  }

  .section-slider__info-item {
    min-height: auto;
  }

  .section-slider__info-item:not(:last-child) {
    margin: 0 0 30px 0;
  }

  .section-slider__info-item p {
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .section-slider__info-subname {
    position: static;
    -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
            transform: rotate(0);
    height: auto;
    -moz-text-align-last: left;
         text-align-last: left;
  }

  .sleep .section-slider__titles_left {
    margin: -290px 0 0 30px;
  }

  .sleep .section-slider__body {
    margin: 0;
  }

  .sleep .section-slider__info {
    margin: -100px 0 0 30px;
  }

  .quantity {
    height: 60px;
  }

  .quantity-button.quantity-up {
    left: 165px;
  }

  .quantity-button.quantity-down {
    left: 135px;
  }
}

@media (max-width: 1080px) {
  .surf {
    margin: 0 0 80px 0;
  }

  .surf__map {
    max-width: 100%;
    min-height: 250px;
    background-image: none;
    margin: 30px auto 60px auto;
  }

  .surf__map .slick-list {
    overflow: hidden;
  }

  .surf__map .slick-track {
    min-height: 250px;
  }

  .surf__map .slick-current .surf__description {
    background-color: #3b5f61;
  }

  .surf__map-slide {
    position: static;
  }

  .surf__map-slide_8 .surf__description {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .surf__circle {
    display: none;
  }

  .surf__description {
    display: block;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .surf__description::after {
    content: '';
    display: none;
  }
}

@media (max-width: 1024px) {
  .title__subname {
    font-size: 140px;
  }

  .subtitle {
    font-size: 36px;
    line-height: 38px;
  }

  .subtitle-text {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 0 45px;
  }

  .subtitle-text::before {
    content: '';
    width: 35px;
  }

  .header {
    margin: 0 0 80px 0;
  }

  .header__burger {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 35px;
    top: 70px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 1100;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #3d3d3d;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  .header__burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 25px;
    background: #4AF6CD;
    opacity: 1;
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
        -ms-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .header__burger span:nth-child(1) {
    top: 30%;
  }

  .header__burger span:nth-child(2) {
    top: 50%;
  }

  .header__burger span:nth-child(3) {
    top: 70%;
  }

  .header__burger_active span:nth-child(1) {
    left: 18%;
    top: 18px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .header__burger_active span:nth-child(2) {
    opacity: 0;
    left: -20px;
  }

  .header__burger_active span:nth-child(3) {
    left: 18%;
    top: 18px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }

  .header__body {
    right: 30px;
    bottom: 75px;
  }

  .header__title {
    font-size: 60px;
    margin: 0 0 20px 0;
  }

  .header__slider-dots {
    right: 0;
  }

  .header__slider-dots .dots-body {
    width: 130px;
  }

  .header__search {
    margin: 40px 0 40px 15px;
  }

  .header__arrows {
    display: none;
  }

  .menu {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 1100;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .menu_active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }

  .section-slider__titles_left .section-slider__subtitle-text {
    padding: 0 45px 0 0;
  }
}

@media (max-width: 890px) {
  .btn {
    font-size: 28px;
  }

  .surf__slide {
    min-height: 450px;
  }

  .surf__slide:nth-child(4n+1) {
    margin-top: 20px;
  }

  .surf__slide:nth-child(4n+3) {
    margin-top: 50px;
  }

  .surf__slide-name {
    font-size: 36px;
    padding: 40px 0 0 25px;
  }

  .surf__slide-location {
    font-size: 14px;
    letter-spacing: 5px;
    left: 40px;
    bottom: 60px;
  }

  .section-slider__body {
    background-size: auto, 57%;
  }
}

@media (max-width: 768px) {
  .section-slider__titles {
    margin: 0 30px 0 0;
  }

  .section-slider__head {
    min-height: 500px;
    background-size: cover;
  }

  .section-slider__body {
    background-image: none !important;
  }

  .section-slider .slick-arrow.slick-prev {
    right: 75px;
  }

  .section-slider .slick-arrow.slick-next {
    right: 30px;
  }

  .sleep .section-slider__titles_left {
    padding: 200px 0 0 0;
  }

  .sleep .section-slider__body {
    padding: 0;
    margin: 0 0 60px 0;
  }

  .sleep .section-slider__info {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 740px) {
  .title {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    margin: 0 0 0 15px;
  }

  .title__subname {
    font-size: 0;
  }

  .title__name {
    position: static;
  }

  .surf__head {
    margin: -25px 15px 0 0;
  }
}

@media (max-width: 570px) {
  .title__name {
    font-size: 50px;
    line-height: 60px;
  }

  .title__name::before {
    content: '';
    width: 50px;
  }

  .subtitle {
    font-size: 28px;
    line-height: 32px;
  }

  .subtitle-text {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 30px;
  }

  .subtitle-text::before {
    content: '';
    width: 20px;
  }

  .header__burger {
    top: 60px;
  }

  .header__title {
    font-size: 36px;
    line-height: 32px;
    margin: 0 0 10px 0;
  }

  .header__subtitle {
    margin: 0 0 5px 0;
  }

  .header__slider .slick-arrow {
    top: 25px;
  }

  .header__slider-dots {
    display: none;
  }

  .header__aside {
    display: block;
    height: auto;
    padding: 0 10px 10px 10px;
  }

  .header__logo {
    width: 80px;
    margin: 0 0 20px 0;
  }

  .header__sublogo {
    font-size: 70px;
    left: 10px;
  }

  .header__search,
  .header__date {
    margin: 0;
  }

  .header__date {
    font-size: 46px;
  }

  .header__location {
    margin: 20px 0 0 0;
  }

  .header__map svg {
    width: 450px;
    height: 225px;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
  }

  .menu__item {
    display: block;
  }

  .menu__link {
    padding: 5px 0;
  }

  .section-slider {
    padding: 0 0 130px 0;
    background-position: right bottom;
    background-size: 40%;
  }

  .section-slider__titles_left .section-slider__subtitle-text {
    padding: 0 30px 0 0;
  }

  .section-slider__body {
    margin: 0;
  }

  .section-slider__info-name {
    font-size: 32px;
  }

  .section-slider__info-subname {
    font-size: 14px;
    letter-spacing: 5px;
  }

  .section-slider .slick-arrow {
    top: 170px;
  }

  .sleep .section-slider__body {
    margin: 0;
  }

  .quantity-button.quantity-up {
    left: 135px;
  }

  .quantity-button.quantity-down {
    left: 105px;
  }
}

@media (max-width: 460px) {
  .surf {
    margin: 0 0 20px 0;
  }

  .surf__head {
    margin: 0 15px 0 0;
  }

  .surf__description {
    width: 195px;
    padding: 15px;
  }

  .surf__location {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 420px) {
  .stars {
    margin: 0 0 0 10px;
  }

  .stars .star {
    position: static;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .section-slider__titles_left {
    position: relative;
    padding: 0;
    margin: -70px 0 0 30px;
  }

  .section-slider__titles_left img {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .section-slider__body {
    min-height: auto;
    margin: 0 0 50px 0;
  }

  .section-slider__rating {
    display: block;
  }

  .section-slider .slick-arrow {
    top: 200px;
  }

  .sleep .section-slider__body {
    margin: 0 0 50px 0;
  }
}

@media (max-height: 570px) {
  .subtitle {
    font-size: 28px;
    line-height: 32px;
  }

  .subtitle-text {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 30px;
  }

  .subtitle-text::before {
    content: '';
    width: 20px;
  }

  .header__body {
    right: 30px;
    bottom: 10px;
  }

  .header__title {
    font-size: 42px;
    margin: 0 0 10px 0;
  }

  .header__subtitle {
    margin: 0;
  }

  .header__slider-dots {
    display: none;
  }
}

.webp .header__slide{ background-image: url(../img/header/header-bg.webp); }

.webp .surf{ background-image: url(../img/surf/location-bg.webp); }

.webp .surf__map{ background-image: url(../img/surf/world-map.webp); }

.webp .travel{ background-image: url(../img/travel/travel-bg.webp); }

.webp .sleep{ background-image: url(../img/sleep/sleep-bg.webp); }

.webp .shop{ background-image: url(../img/shop/shop-bg.webp); }