@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #171919;
  color: #ffffff;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.title__subname {
  display: inline-block;
  font-size: 200px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.02);
  position: relative;
}

.title__name {
  font-size: 80px;
  font-weight: 800;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
}

.title__name::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 1px;
  background-color: #4AF6CD;
}

.subtitle {
  font-size: 40px;
  line-height: 44px;
  font-weight: 800;
  text-transform: uppercase;
}

.subtitle-text {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  opacity: 0.5;
  padding: 0 0 0 103px;
  position: relative;
  display: inline-block;
}

.subtitle-text::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #ffffff;
  left: 0;
  top: 50%;
}

.header {
  height: 100vh;
  position: relative;
}

.header__burger {
  display: none;
}

.header__slide {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header__body {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.header__title {
  font-size: 80px;
  line-height: 86px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0 48px 0;
}

.header__subtitle {
  margin: 0 0 30px 0;
}

.header__subtitle-text {
  margin: 0 0 8px 0;
}

.header__slider-dots {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  z-index: 1100;
}

.header__slider-dots .slick-current .dots-body {
  border-top: 4px solid #4AF6CD;
}

.header__slider-dots .dots-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 28px;
  border-top: 4px solid #fff;
  padding: 6px 0 0 0;
}

.header__slider-dots .dots-body__number {
  font-size: 24px;
  line-height: 34px;
  font-weight: 800;
}

.header__slider-dots .dots-body__name {
  line-height: 19px;
  font-weight: 300;
}

.header__aside {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1100;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
}

.header__logo {
  margin: 0 0 40px 0;
}

.header__logo img {
  width: 100%;
}

.header__sublogo {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 200px;
  line-height: 156px;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.07;
  z-index: 1100;
}

.header__menu {
  margin: 0 0 45px 0;
}

.header__search {
  margin: 0 0 20px 0;
  cursor: pointer;
}

.header__date {
  font-size: 72px;
  line-height: 64px;
  font-weight: 800;
  margin: 0 0 15px 0;
}

.header__date span {
  display: block;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  letter-spacing: 1.4px;
}

.header__location {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: 1.05px;
  padding: 0 0 0 19px;
  position: relative;
}

.header__location::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 13px;
  background-image: url("../img/header/location-icon.svg");
  left: 0;
  top: 0;
}

.header__arrows {
  position: absolute;
  left: 209px;
  bottom: 30px;
  z-index: 1100;
  cursor: pointer;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1100;
}

.map-animtaion {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  -webkit-animation: animdash 5s infinite 6s;
          animation: animdash 5s infinite 6s;
}

@-webkit-keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__slider .slick-arrow {
  position: absolute;
  top: 40px;
  font-size: 0;
  width: 25px;
  height: 20px;
  z-index: 1100;
}

.header__slider .slick-arrow.slick-prev {
  right: 125px;
  background: url("../img/header/arrow-left.svg") 0 0 no-repeat;
}

.header__slider .slick-arrow.slick-next {
  right: 80px;
  background: url("../img/header/arrow-right.svg") 0 0 no-repeat;
}

.menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu__link span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  color: #ffffff;
  margin: 6px 0 0 0;
}

.surf {
  padding: 160px 0;
  background-image: url("../img/surf/location-bg.png");
  background-repeat: no-repeat;
  background-position: right 200px;
  background-size: auto;
}

.surf__title {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
}

.surf__head {
  text-align: right;
  margin: 0 80px 0 0;
  -webkit-transform: translateY(-65px);
      -ms-transform: translateY(-65px);
          transform: translateY(-65px);
}

.surf__text {
  display: inline-block;
  text-align: right;
}

.surf__subtitle span {
  font-weight: 100;
}

.surf__slide {
  position: relative;
  min-height: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.surf__slide-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 33, 33, 0.85);
}

.surf__slide-name {
  max-width: 140px;
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 72px 0 0 40px;
}

.surf__slide-location {
  width: 0;
  height: 0;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 40px;
  bottom: 80px;
  white-space: nowrap;
}

.surf__slide-location span {
  font-weight: 100;
}

.surf__slide-link {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.surf__slide-link span {
  display: inline-block;
  padding: 17px 57px 17px 17px;
  background-color: #4AF6CD;
}

@media (max-width: 1600px) {
  .header__sublogo {
    font-size: 110px;
    line-height: 100%;
    left: 60px;
    top: 0;
  }

  .header__logo {
    width: 110px;
    margin: 0 0 20px 0;
  }

  .header__map svg {
    width: 600px;
    height: 300px;
  }
}

@media (max-width: 1440px) {
  .header__title {
    margin: 0 0 30px 0;
  }

  .header__subtitle {
    margin: 0 0 20px 0;
  }

  .header__menu {
    margin: 0 0 25px 0;
  }

  .header__date {
    font-size: 61px;
  }

  .header__search {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 1366px) {
  .header__title {
    line-height: 60px;
  }

  .header__aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-right: none;
    height: 118px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 20px 0 0;
  }

  .header__search {
    margin: 40px 0;
  }

  .header__date {
    margin: 7px 15px 0 15px;
  }

  .header__location {
    margin: 50px 0 0 0;
  }

  .header__map svg {
    width: 500px;
    height: 250px;
  }

  .header__arrows {
    left: 15px;
    bottom: 15px;
  }

  .header__slider .slick-arrow.slick-prev {
    right: 60px;
  }

  .header__slider .slick-arrow.slick-next {
    right: 25px;
  }

  .menu__item {
    display: inline-block;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 0;
  }

  .menu__item:hover .menu__link span {
    color: #4AF6CD;
  }

  .menu__link {
    display: block;
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .subtitle {
    font-size: 36px;
    line-height: 38px;
  }

  .subtitle-text {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 0 45px;
  }

  .subtitle-text::before {
    content: '';
    width: 35px;
  }

  .header__burger {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 35px;
    top: 70px;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    z-index: 1100;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #3d3d3d;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  .header__burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 25px;
    background: #4AF6CD;
    opacity: 1;
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
        -ms-transform: rotate(0deg) translateX(-50%);
            transform: rotate(0deg) translateX(-50%);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .header__burger span:nth-child(1) {
    top: 30%;
  }

  .header__burger span:nth-child(2) {
    top: 50%;
  }

  .header__burger span:nth-child(3) {
    top: 70%;
  }

  .header__burger_active span:nth-child(1) {
    left: 18%;
    top: 18px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
  }

  .header__burger_active span:nth-child(2) {
    opacity: 0;
    left: -20px;
  }

  .header__burger_active span:nth-child(3) {
    left: 18%;
    top: 18px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }

  .header__body {
    right: 30px;
    bottom: 75px;
  }

  .header__title {
    font-size: 60px;
    margin: 0 0 20px 0;
  }

  .header__slider-dots {
    right: 0;
  }

  .header__slider-dots .dots-body {
    width: 130px;
  }

  .header__search {
    margin: 40px 0 40px 15px;
  }

  .header__arrows {
    display: none;
  }

  .menu {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 1100;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .menu_active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 570px) {
  .subtitle {
    font-size: 28px;
    line-height: 32px;
  }

  .subtitle-text {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 30px;
  }

  .subtitle-text::before {
    content: '';
    width: 20px;
  }

  .header__burger {
    top: 60px;
  }

  .header__title {
    font-size: 36px;
    line-height: 32px;
    margin: 0 0 10px 0;
  }

  .header__subtitle {
    margin: 0 0 5px 0;
  }

  .header__slider .slick-arrow {
    top: 25px;
  }

  .header__slider-dots {
    display: none;
  }

  .header__aside {
    display: block;
    height: auto;
    padding: 0 10px 10px 10px;
  }

  .header__logo {
    width: 80px;
    margin: 0 0 20px 0;
  }

  .header__sublogo {
    font-size: 70px;
    left: 10px;
  }

  .header__search,
  .header__date {
    margin: 0;
  }

  .header__date {
    font-size: 46px;
  }

  .header__location {
    margin: 20px 0 0 0;
  }

  .header__map svg {
    width: 450px;
    height: 225px;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 0;
  }

  .menu__item {
    display: block;
  }

  .menu__link {
    padding: 5px 0;
  }
}

@media (max-height: 570px) {
  .subtitle {
    font-size: 28px;
    line-height: 32px;
  }

  .subtitle-text {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 30px;
  }

  .subtitle-text::before {
    content: '';
    width: 20px;
  }

  .header__body {
    right: 30px;
    bottom: 10px;
  }

  .header__title {
    font-size: 42px;
    margin: 0 0 10px 0;
  }

  .header__subtitle {
    margin: 0;
  }

  .header__slider-dots {
    display: none;
  }
}

.webp .header__slide{ background-image: url(../img/header/header-bg.webp); }

.webp .surf{ background-image: url(../img/surf/location-bg.webp); }